{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="eightypercent">
            <span class="page_heading">
                <h1>Her er alle kabler</h1>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="eightypercent">
            <br>
            {% for ac in all_cables %}
                <hr>
                <br>
                Stiktype: {{ ac.connection }}
                <br>
                Længde: {{ ac.length }} meter
                <br>
                Beskrivelse: {{ ac.description }}
                <br>
                <br>
                {% if ac.borrower != None %}
                    <div class="udlaant">p.t. OPTAGET</div>
                {% else %}
                    <div class="ledigt">p.t. LEDIG</div>
                {% endif %}
                <br>
                Ejer: {{ ac.owner }}
                <br>
                Kontaktnummer: {{ ac.contact }}
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
    <br><br><br><br>
{% endblock %}