{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="eightypercent">
            <span class="page_heading">
                <h1>Her er alle kostumer</h1>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="eightypercent">
            <br>
            {% for ac in all_costumes %}
                <hr>
                <br>
                Type: {{ ac.model }}
                <br>
                Beskrivelse: {{ ac.description }}
                <br>
                {% if ac.linktext %}
                    Link til billede: <a href="http://{{ ac.linktext }}">{{ ac.linktext }}</a>
                {% endif %}
                <br>
                <br>
                {% if ac.borrower != None %}
                    <div class="udlaant">p.t. OPTAGET</div>
                {% else %}
                    <div class="ledigt">p.t. LEDIG</div>
                {% endif %}
                <br>
                Ejer: {{ ac.owner }}
                <br>
                Kontaktnummer: {{ ac.contact }}
                <br>
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
    <br><br><br><br>
{% endblock %}