{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="eightypercent">
            <span class="page_heading">
                <h1>Her er alle dæmpere</h1>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="eightypercent">
            <br>
            {% for ad in all_dampers %}
                <hr>
                <br>
                Mærke: {{ ad.brand }}
                <br>
                Model: {{ ad.model }}
                <br>
                Beskrivelse: {{ ad.description }}
                <br>
                <br>
                {% if ad.borrower != "None" %}
                    <div class="udlaant">p.t. OPTAGET</div>
                {% else %}
                    <div class="ledigt">p.t. LEDIG</div>
                {% endif %}
                <br>
                Ejer: {{ ad.owner }}
                <br>
                Kontaktnummer: {{ ad.contact }}
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
    <br><br><br><br>
{% endblock %}