{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="eightypercent">
            <span class="page_heading">
                <h1>Her er alle lysmixere</h1>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="eightypercent">
            <br>
            {% for alm in all_lightmixers %}
                <hr>
                <br>
                Mærke: {{ alm.brand }}
                <br>
                Model: {{ alm.model }}
                <br>
                Beskrivelse: {{ alm.description }}
                <br>
                <br>
                Ejer: {{ alm.owner }}
                <br>
                Kontaktnummer: {{ alm.contact }}
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
    <br><br><br><br>
{% endblock %}