{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="eightypercent">
            <span class="page_heading">
                <h1>Her er alle projektorer</h1>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="eightypercent">
            <br>
            {% for ap in all_projectors %}
                <hr>
                <br>
                Opløsning: {{ ap.resolution }}
                <br>
                Lysstyrke: {{ ap.lumen }} lumens
                <br>
                Mærke: {{ ap.brand }}
                <br>
                Model: {{ ap.model }}
                <br>
                Input 1: {{ ap.input1 }}
                <br>
                Input 2: {{ ap.input2 }}
                <br>
                Input 3: {{ ap.input3 }}
                <br>
                Beskrivelse: {{ ap.description }}
                <br>
                <br>
                {% if ap.borrower != None %}
                    <div class="udlaant">p.t. OPTAGET</div>
                {% else %}
                    <div class="ledigt">p.t. LEDIG</div>
                {% endif %}
                <br>
                Ejer: {{ ap.owner }}
                <br>
                Kontaktnummer: {{ ap.contact }}
                <br>
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}