{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="eightypercent">
            <span class="page_heading">
                <h1>Her er alle scenografier</h1>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="eightypercent">
            <br>
            {% for asc in all_scenography %}
                <hr>
                <br>
                Type: {{ asc.model }}
                <br>
                Beskrivelse: {{ asc.description }}
                <br>
                {% if asc.linktext %}
                    Link til billede: <a href="http://{{ asc.linktext }}">{{ asc.linktext }}</a>
                {% endif %}
                <br>
                <br>
                {% if asc.borrower != None %}
                    <div class="udlaant">p.t. OPTAGET</div>
                {% else %}
                    <div class="ledigt">p.t. LEDIG</div>
                {% endif %}
                <br>
                Ejer: {{ asc.owner }}
                <br>
                Kontaktnummer: {{ asc.contact }}
                <br>
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
    <br><br><br><br>
{% endblock %}