{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="eightypercent">
            <span class="page_heading">
                <h1>Her er alle højtalere</h1>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="eightypercent">
            <br>
            {% for asp in all_speakers %}
                <hr>
                <br>
                {% if asp.active == "JA" %}
                    Højtaleren er AKTIV
                {% else %}
                    Højtaleren er IKKE AKTIV
                {% endif %}
                <br>
                Mærke: {{ asp.brand }}
                <br>
                Model: {{ asp.model }}
                <br>
                Primær input: {{ asp.inputs }}
                <br>
                Beskrivelse: {{ asp.description }}
                <br>
                <br>
                {% if asp.borrower != None %}
                    <div class="udlaant">p.t. OPTAGET</div>
                {% else %}
                    <div class="ledigt">p.t. LEDIG</div>
                {% endif %}
                <br>
                Ejer: {{ asp.owner }}
                <br>
                Kontaktnummer: {{ asp.contact }}
                <br>
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
    <br><br><br><br>
{% endblock %}