{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="eightypercent">
            <span class="page_heading">
                <h1>Her er alle lydmixere</h1>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="eightypercent">
            <br>
            {% for asm in all_soundmixers %}
                <hr>
                <br>
                Mærke: {{ asm.brand }}
                <br>
                Model: {{ asm.model }}
                <br>
                Kanaler: {{ asm.channels }}
                <br>
                Beskrivelse: {{ asm.description }}
                <br>
                <br>
                Ejer: {{ asm.owner }}
                <br>
                Kontaktnummer: {{ asm.contact }}
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
    <br><br><br><br>
{% endblock %}