{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="eightypercent">
            <span class="page_heading">
                <h1>Her er alle videokameraer</h1>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="eightypercent">
            <br>
            {% for avc in all_videocameras %}
                <hr>
                <br>
                Opløsning: {{ avc.resolution }}
                <br>
                Mærke: {{ avc.brand }}
                <br>
                Model: {{ avc.model }}
                <br>
                Beskrivelse: {{ avc.description }}
                <br>
                <br>
                {% if avc.borrower != "None" %}
                    <div class="udlaant">p.t. OPTAGET</div>
                {% else %}
                    <div class="ledigt">p.t. LEDIG</div>
                {% endif %}
                <br>
                Ejer: {{ avc.owner }}
                <br>
                Kontaktnummer: {{ avc.contact }}
                <br>
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
    <br><br><br><br>
{% endblock %}