<!DOCTYPE html>
<html>
<head>
    <title>
        STG
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="dropdown_menu_div">
                <span>
                    <span class="menu">menu</span>
                </span>
                <div class="dropdown_content">
                    {% if user.name %}
                        <p><a href="/mypage">Min Side</a></p>
                        <p><a href="/mypage/mythings">Mine Ting</a></p>
                        <p><a href="/mypage/searchtype">Søg efter Ting</a></p>
                        <p><a href="/mypage/borrowed">Ting jeg har lånt</a></p>
                        <p><a href="/mypage/myprofile">Min Profil</a></p>
                        <p><a href="/mypage/members">Grejbankens medlemmer</a></p>
                    {% endif %}
                    <p><a href="/mypage/login">Log ind</a></p>
                    <p><a href="/mypage/signup">Opret bruger</a></p>
                </div>
            </div>
            <div class="blog_title">
                <a href="/">GREJBANKEN</a>
            </div>
            <div class="user_menu_div">
                {% if user %}
                    bruger:{{ user.name }}
                    <br>
                    <a href="/mypage/logout">[log ud]</a>
                {% else %}
                    <a href="/mypage/login">[log ind]</a>
                    <br>
                    <a href="/mypage/signup">[opret bruger]</a>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div class="row">
        <br>
        <br>
            <hr>
            <div class="fiftypercent">
                STG er støttet af
                <br>
                <a href="http://www.kunst.dk/">
                    <img class="logoimg" src="/pics/kunstfondlogo.jpg" alt="Statens Kunstfonds logo">
                </a>
            </div>
            <div class="fiftypercentright">
                Programmering: Jens Bäckvall<br>
                jensbackvall@t-nova.org
            </div>
            <br>
            <hr>
            <br>
        </div>
    </div>
</body>
</html>