{% extends "base.html" %}

{% block content %}
    <span class="page_heading">
        <h1>Redigering af lampe</h1>
        <div>Her kan du redigere denne lampe og/eller markere at den er udlånt og til hvem den er udlånt.</div>
        <br>
    </span>
    <div class="newpost">
        <form enctype="multipart/form-data" method="post">
            <label>
                <div>Lampens Mærke(skriv ukendt hvis du ikke kender mærket):</div>
                <input type="text" name="brand" value="{{brand}}">
            </label>
            <label>
                <div>Lampens Pæretype(vælg type):</div>
                <select name="lamptype">
                    <option value="LED">LED</option>
                    <option value="gloedepare">glødepære</option>
                    <option value="halogen">halogen</option>
                    <option value="anden">anden</option>
                </select>
            </label>
            <label>
                <div>Lampens modeltype(vælg type):</div>
                <select name="lampmodeltype">
                    <option value="Backdrop/Flood">Backdrop/Flood</option>
                    <option value="Fresnel">Fresnel</option>
                    <option value="P.C. Pebble Convex">P.C. Pebble Convex</option>
                    <option value="Profilspot">Profilspot</option>
                    <option value="Pinspot">Pinspot</option>
                    <option value="PAR 64">PAR 64</option>
                    <option value="PAR 56">PAR 56</option>
                    <option value="PAR 38">PAR 38</option>
                    <option value="PAR 16">PAR 16</option>
                    <option value="LED Spot (RGB/RGBW/RGBA)">LED Spot (RGB/RGBW/RGBA)</option>
                    <option value="LED Bar/Batten (RGB/RGBW/RGBA)">LED Bar/Batten (RGB/RGBW/RGBA)</option>
                    <option value="Bevægehovede Wash">Bevægehovede Wash</option>
                    <option value="Bevægehovede Beam">Bevægehovede Beam</option>
                    <option value="Bevægehovede Profile">Bevægehovede Profile</option>
                    <option value="Anden">Anden</option>
                </select>
            </label>
            <label>
                <div>Lampens model(eks nummer, type el. lign.):</div>
                <input type="text" name="model" value="{{model}}">
            </label>
            <label>
                <div>Lampens effekt i Watt:</div>
                <input type="number" name="watt" value="{{watt}}">
            </label>
            <label>
                <div>Beskrivelse af lampen(ikke obligatorisk):</div>
                <textarea name="description">{{description}}</textarea>
            </label>
            <br>
            <br>
            <label>
                <div>Ved udlån, vælg låneren blandt de navne som vises.</div>
                <select name="borrower">
                    <option value="None">Ingen</option>
                    {% for u in users %}
                        <option value="{{u.name}}">{{u.name}}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <br>
            <div class="error">{{error}}</div>
            <input type="submit" value="OK">
            <form action="/mypage/mythings">
                <input type="submit" value="Afbryd redigering"/>
            </form>
        </form>
    </div>
{% endblock %}
