{% extends "base.html" %}

{% block content %}
    <span class="page_heading">
        <h1>Redigering af lysmixer</h1>
        <div>Her kan du redigere denne lysmixer og/eller markere at den er udlånt og til hvem den er udlånt.</div>
        <br>
    </span>
    <div class="newpost">
        <form method="post">
            <label>
                <div>Lysmixerens mærke:</div>
                <input type="text" name="brand" value="{{brand}}">
            </label>
            <label>
                <div>Lysmixerens model:</div>
                <input type="text" name="model" value="{{model}}">
            </label>
            <label>
                <div>Beskrivelse af Lysmixeren(ikke obligatorisk):</div>
                <textarea name="description">{{description}}</textarea>
            </label>
            <br>
            <br>
            <label>
                <div>Ved udlån, vælg låneren blandt de navne som vises.</div>
                <select name="borrower">
                    <option value="None">Ingen</option>
                    {% for u in users %}
                        <option value="{{u.name}}">{{u.name}}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <br>
            <div class="error">{{error}}</div>
            <input type="submit" value="OK">
            <form action="/mypage/mythings">
                <input type="submit" value="Afbryd redigering"/>
            </form>
        </form>
    </div>
{% endblock %}
