{% extends "base.html" %}

{% block content %}
    <h1>Velkommen til Scenekunstens Teknik og Grej Bank</h1>
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac nisl venenatis, aliquam tortor posuere, sagittis dolor. Curabitur ullamcorper purus sed purus tincidunt, ac dictum ligula imperdiet. Nunc viverra metus dolor, id dignissim augue ullamcorper ac. Cras eleifend vitae mi id commodo. Morbi at sagittis arcu. Maecenas pretium pulvinar diam, vel convallis ligula faucibus nec. Mauris eget elementum turpis. Sed eget dolor tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque convallis ante at nisi ullamcorper, eget tincidunt erat tempus. Donec eu sagittis ligula. Praesent ac imperdiet velit. Nulla ligula quam, sodales sit amet volutpat nec, pulvinar interdum nisl. Duis accumsan nec nunc id ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce elementum ante at varius fermentum.</p>
    <br>
    <br>
    <a href="/mypage/login" class="fiftypercent">
        <h2>LOG IND</h2>
    </a>
    <a href="/mypage/signup" class="fiftypercent">
        <h2>OPRET NY BRUGER</h2>
    </a>
    <br>
    <br>
{% endblock %}