{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <span class="page_heading">
            <h1>STG medlemsliste</h1>
        </span>
    </div>
    <div class="row">
        <hr>
        <hr>
        <div class="eightypercent">
            {% for m in members %}
                Brugernavn: {{ m.name }}
                <br>
                Fornavn: {{ m.firstname }}
                <br>
                Efternavn: {{ m.surname }}
                <br>
                Email: {{ m.email }}
                <br>
                Telefon: {{ m.phone }}
                <br>
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}
