{% extends "base.html" %}

{% block content %}
    <br>
    <span class="yourpoetry">
        <h1>Dette er din personlige side</h1>
    </span>
    <br><br>
    {% for mp in my_posts %}
        {{ mp.render() | safe }}
        <div class="post_footer">
        {{ mp.author }}
        <br><br>
        {% if user.name %}
            {% if mp.author == user.name %}
                <form action="/mypage/edit/{{mp.key().id()}}" class="edit_button">
                    <input type="submit" value="EDIT POST">
                </form>
                <form action="/mypage/deleted/{{mp.key().id()}}" method="get" class="delete_button">
                    <input type="submit" value="DELETE POST">
                </form>
                <br><br>
            {% endif %}
        {% endif %}
        {% if mp.likes == 1 %}
            {{ mp.likes }} person likes this post
        {% else %}
            {{ mp.likes }} people like this post
        {% endif %}
        <br><br>
            <div class="post_comment">
                {% for c in comments %}
                    {% if c.commentid == mp.key().id() %}
                        <div class="comment">
                            <br>
                            <span class="comment_content">
                                {{ c.comment | safe }}
                            </span>
                            <br><br>
                            <span class="comment_sign">
                                written by {{ c.commentauthor }} on {{ c.created.strftime("%a %b %d, %Y") }}
                            </span>
                            <br><br>
                            {% if c.commentauthor == user.name %}
                                <form action="/mypage/editcomment/{{c.key().id()}}" method="get">
                                    <input type="submit" value="EDIT COMMENT">
                                </form>
                            {% endif %}
                            <br>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br><br><br>
    {% endfor %}
{% endblock %}