{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="eightypercent">
            <span class="page_heading">
                <h2>Her er dine ting!</h2>
            </span>
        </div>
        <div class="nineteenpercent">
            <a href="/mypage/newthing">
                <button type="button">
                    Opret ny ting
                </button>
            </a>
        </div>
        <hr>
    </div>
    <div class="row">
        {{ message }}
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine Lamper</h2>
            {% for ml in my_lamps %}
                <hr>
                <br>
                Mærke: {{ ml.brand }}
                <br>
                Pæretype: {{ ml.lamptype }}
                <br>
                Lampetype: {{ ml.lampmodeltype }}
                <br>
                Model: {{ ml.model }}
                <br>
                Effekt: {{ ml.watt }} Watt
                <br>
                Beskrivelse: {{ ml.description }}
                {% if ml.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ ml.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if ml.owner == user.name %}
                            <form action="/mypage/editlamp/{{ml.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN LAMPE">
                            </form>
                            <form action="/mypage/deletelamp/{{ml.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET LAMPE">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine Kabler</h2>
            {% for mc in my_cables %}
                <hr>
                <br>
                Stiktype: {{ mc.connection }}
                <br>
                Længde: {{ mc.length }} meter
                <br>
                Beskrivelse: {{ mc.description }}
                {% if mc.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ mc.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if mc.owner == user.name %}
                            <form action="/mypage/editcable/{{mc.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN KABEL">
                            </form>
                            <form action="/mypage/deletecable/{{mc.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET KABEL">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine Dæmpere</h2>
            {% for md in my_dampers %}
                <hr>
                <br>
                Mærke: {{ md.brand }}
                <br>
                Model: {{ md.model }}
                <br>
                Beskrivelse: {{ md.description }}
                {% if md.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ md.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if md.owner == user.name %}
                            <form action="/mypage/editdamper/{{md.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN DÆMPER">
                            </form>
                            <form action="/mypage/deletedamper/{{md.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET DÆMPER">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine Lysmixere</h2>
            {% for mlm in my_lightmixers %}
                <hr>
                <br>
                Mærke: {{ mlm.brand }}
                <br>
                Model: {{ mlm.model }}
                <br>
                Beskrivelse: {{ mlm.description }}
                {% if mlm.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ mlm.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if mlm.owner == user.name %}
                            <form action="/mypage/editlightmixer/{{mlm.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN LYSMIXER">
                            </form>
                            <form action="/mypage/deletelightmixer/{{mlm.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET LYSMIXER">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine Lydmixere</h2>
            {% for msm in my_soundmixers %}
                <hr>
                <br>
                Mærke: {{ msm.brand }}
                <br>
                Model: {{ msm.model }}
                <br>
                Kanaler: {{ msm.channels }}
                <br>
                Beskrivelse: {{ msm.description }}
                {% if msm.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ msm.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if msm.owner == user.name %}
                            <form action="/mypage/editsoundmixer/{{msm.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN LYDMIXER">
                            </form>
                            <form action="/mypage/deletesoundmixer/{{msm.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET LYDMIXER">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine Højtalere</h2>
            {% for msp in my_speakers %}
                <hr>
                <br>
                {% if msp.active == "JA" %}
                    Højtaleren er AKTIV
                {% else %}
                    Højtaleren er IKKE AKTIV
                {% endif %}
                <br>
                Mærke: {{ msp.brand }}
                <br>
                Model: {{ msp.model }}
                <br>
                Primær input: {{ msp.inputs }}
                <br>
                Beskrivelse: {{ msp.description }}
                {% if msp.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ msp.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if msp.owner == user.name %}
                            <form action="/mypage/editspeaker/{{msp.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN HØJTALER">
                            </form>
                            <form action="/mypage/deletespeaker/{{msp.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET HØJTALER">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine fotokameraer</h2>
            {% for mpc in my_photocameras %}
                <hr>
                <br>
                {% if mpc.digianal == "digitalt" %}
                    DIGITALT
                {% else %}
                    ANALOGT
                {% endif %}
                {% if mpc.slr == "JA" %}
                    SPEJLREFLEKS fotokamera
                {% else %}
                    IKKE SPEJLREFLEKS fotokamera
                {% endif %}
                <br>
                {% if mpc.vidnonvid == "JA" %}
                    Kan filme video
                {% else %}
                    Kan IKKE filme video
                {% endif %}
                <br>
                Mærke: {{ mpc.brand }}
                <br>
                Model: {{ mpc.model }}
                <br>
                Beskrivelse: {{ mpc.description }}
                {% if mpc.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ mpc.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if mpc.owner == user.name %}
                            <form action="/mypage/editphotocamera/{{mpc.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN FOTOKAMERA">
                            </form>
                            <form action="/mypage/deletephotocamera/{{mpc.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET FOTOKAMERA">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine videokameraer</h2>
            {% for mvc in my_videocameras %}
                <hr>
                <br>
                Opløsning: {{ mvc.resolution }}
                <br>
                Mærke: {{ mvc.brand }}
                <br>
                Model: {{ mvc.model }}
                <br>
                Beskrivelse: {{ mvc.description }}
                {% if mvc.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ mvc.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if mvc.owner == user.name %}
                            <form action="/mypage/editvideocamera/{{mvc.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN VIDEOKAMERA">
                            </form>
                            <form action="/mypage/deletevideocamera/{{mvc.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET VIDEOKAMERA">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine projektorer</h2>
            {% for mp in my_projectors %}
                <hr>
                <br>
                Opløsning: {{ mp.resolution }}
                <br>
                Lysstyrke: {{ mp.lumen }} lumens
                <br>
                Mærke: {{ mp.brand }}
                <br>
                Model: {{ mp.model }}
                <br>
                Input 1: {{ mp.input1 }}
                <br>
                Input 2: {{ mp.input2 }}
                <br>
                Input 3: {{ mp.input3 }}
                <br>
                Beskrivelse: {{ mp.description }}
                {% if mp.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ mp.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if mp.owner == user.name %}
                            <form action="/mypage/editprojector/{{mp.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN PROJEKTOR">
                            </form>
                            <form action="/mypage/deleteprojector/{{mp.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET PROJEKTOR">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine TV/skærme</h2>
            {% for mtv in my_tvs %}
                <hr>
                <br>
                Opløsning: {{ mtv.resolution }}
                <br>
                Størrelse: {{ mtv.screensize }} tommer
                <br>
                Mærke: {{ mtv.brand }}
                <br>
                Model: {{ mtv.model }}
                <br>
                Input 1: {{ mtv.input1 }}
                <br>
                Input 2: {{ mtv.input2 }}
                <br>
                Input 3: {{ mtv.input3 }}
                <br>
                Beskrivelse: {{ mtv.description }}
                {% if mtv.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ mtv.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if mtv.owner == user.name %}
                            <form action="/mypage/edittv/{{mtv.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN TV/SKÆRM">
                            </form>
                            <form action="/mypage/deletetv/{{mtv.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET TV/SKÆRM">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine scenografier</h2>
            {% for msc in my_scenography %}
                <hr>
                <br>
                Type: {{ msc.model }}
                <br>
                Beskrivelse: {{ msc.description }}
                <br>
                {% if msc.linktext %}
                    Link til billede: <a href="http://{{ msc.linktext }}">{{ msc.linktext }}</a>
                    <br>
                {% endif %}
                {% if msc.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ msc.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if msc.owner == user.name %}
                            <form action="/mypage/editscenography/{{msc.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN SCENOGRAFI">
                            </form>
                            <form action="/mypage/deletescenography/{{msc.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET SCENOGRAFI">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
    <div class="row">
        <div class="ninepercent"></div>
        <div class="eightypercent">
            <h2>Mine kostumer</h2>
            {% for mcs in my_costumes %}
                <hr>
                <br>
                Type: {{ mcs.model }}
                <br>
                Beskrivelse: {{ mcs.description }}
                <br>
                {% if mcs.linktext %}
                    Link til billede: <a href="http://{{ mcs.linktext }}">{{ mcs.linktext }}</a>
                    <br>
                {% endif %}
                {% if mcs.borrower == None %}
                    <br>
                    <br>
                    <div class="ledigt">Ikke udlånt</div>
                {% else %}
                    <br>
                    <br>
                    <div class="udlaant">Udlånt til: {{ mcs.borrower }}</div>
                {% endif %}
                <br>
                <br>
                <div class="post_footer">
                    <br><br>
                    {% if user.name %}
                        {% if mcs.owner == user.name %}
                            <form action="/mypage/editcostume/{{mcs.key().id()}}" class="edit_button">
                                <input type="submit" value="REDIGER/UDLÅN KOSTUME">
                            </form>
                            <form action="/mypage/deletecostume/{{mcs.key().id()}}" method="get" class="delete_button">
                                <input type="submit" value="SLET KOSTUME">
                            </form>
                            <br><br>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="ninepercent"></div>
    </div>
{% endblock %}