{% extends "base.html" %}

{% block content %}
    <div class="newpost">
        <form method="post">
            <label>
                <div>Kablets stiktype(hvis typen ikke findes, vælg anden og skriv den under beskrivelse):</div>
                <select type="text" name="connection">
                    <option value="XLR">XLR</option>
                    <option value="DMX 5 pol">DMX 5 pol</option>
                    <option value="DMX 3 pol">DMX 3 pol</option>
                    <option value="Jack">Jack</option>
                    <option value="mini-Jack 3,5 mm">mini-Jack 3,5 mm</option>
                    <option value="16 A">16 A</option>
                    <option value="32 A">32 A</option>
                    <option value="63 A">63 A</option>
                    <option value="Phono">Phono</option>
                    <option value="HDMI">HDMI</option>
                    <option value="Anden">Anden</option>
                </select>
            </label>
            <label>
                <div>Kablets længde i meter:</div>
                <input type="number" name="length" value="{{length}}">
            </label>
            <label>
                <div>Beskrivelse af kablet(ikke obligatorisk):</div>
                <textarea name="description">{{description}}</textarea>
            </label>
            <!-- <label>
                <div>Billede af lampen(ikke obligatorisk):</div>
                <input type="file" name="image">
            </label> -->
            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
    </div>
{% endblock %}