{% extends "base.html" %}

{% block content %}
    {{ p.render() | safe }}
    <div class="post_footer">
        {{ p.author }}
    </div>
    <h2>Please comment below:</h2>
    To abort commenting, click <a href="/mypage">HERE</a>.
    <br><br>
    <form method="post">
        <label>
            <textarea name="comment" class="cont" value="{{comment}}"></textarea>
        </label>
        <div class="error">{{error}}</div>
        <input type="submit" value="submit comment">
    </form>
{% endblock %}