{% extends "base.html" %}

{% block content %}
    <div class="newpost">
        <form method="post">
            <label>
                <div>Fotokameraets mærke:</div>
                <input type="text" name="brand" value="{{brand}}">
            </label>
            <label>
                <div>Fotokameraets model:</div>
                <input type="text" name="model" value="{{model}}">
            </label>
            <label>
                <div>Digitalt eller analogt kamera?:</div>
                <select type="text" name="digianal">
                    <option value="digitalt">digitalt</option>
                    <option value="analogt">analogt</option>
                </select>
            </label>
            <label>
                <div>Er det et spejlreflekskamera:</div>
                <select type="text" name="slr">
                    <option value="JA">JA</option>
                    <option value="NEJ">NEJ</option>
                </select>
            </label>
            <label>
                <div>Kan kameraet filme video?:</div>
                <select type="text" name="vidnonvid">
                    <option value="JA">JA</option>
                    <option value="NEJ">NEJ</option>
                </select>
            </label>
            <label>
                <div>Beskrivelse af Fotokameraet(ikke obligatorisk):</div>
                <textarea name="description">{{description}}</textarea>
            </label>
            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
    </div>
{% endblock %}