{% extends "base.html" %}

{% block content %}
    <div class="newpost">
        <form method="post">
            <label>
                <div>Lydmixerens mærke:</div>
                <input type="text" name="brand" value="{{brand}}">
            </label>
            <label>
                <div>Lydmixerens model:</div>
                <input type="text" name="model" value="{{model}}">
            </label>
            <label>
                <div>Beskrivelse af Lydmixeren(ikke obligatorisk):</div>
                <textarea name="description">{{description}}</textarea>
            </label>
            <!-- <label>
                <div>Billede af lampen(ikke obligatorisk):</div>
                <input type="file" name="image">
            </label> -->
            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
    </div>
{% endblock %}