{% extends "base.html" %}

{% block content %}
    <div class="newpost">
        <form method="post">
            <label>
                <div>TV/skærms mærke:</div>
                <input type="text" name="brand" value="{{brand}}">
            </label>
            <label>
                <div>TV/skærms model:</div>
                <input type="text" name="model" value="{{model}}">
            </label>
            <label>
                <div>TV/skærms opløsning:</div>
                <select type="text" name="resolution">
                    <option value="720p">720p</option>
                    <option value="1080p">1080p</option>
                    <option value="2K">2K</option>
                    <option value="4K">4K</option>
                    <option value="anden">anden</option>
                </select>
            </label>
            <label>
                <div>TV/skærms størrelse i tommer:</div>
                <input type="number" name="screensize" value="{{screensize}}">
            </label>
            <div>Ifyld så mange inputs du vil. Hvis der er flere, eller typen ikke er på listen, skriv det så i feltet Beskrivelse.</div>
            <label>
                <div>Input1:</div>
                <select type="text" name="input1">
                    <option value="Phono">Phono</option>
                    <option value="VGA">VGA</option>
                    <option value="DvI">DvI</option>
                    <option value="HDMI">HDMI</option>
                    <option value="Component">Component</option>
                    <option value="SCART">SCART</option>
                    <option value="Anden">Anden</option>
                </select>
            </label>
            <label>
                <div>Input2:</div>
                <select type="text" name="input2">
                    <option value="Phono">Phono</option>
                    <option value="VGA">VGA</option>
                    <option value="DvI">DvI</option>
                    <option value="HDMI">HDMI</option>
                    <option value="Component">Component</option>
                    <option value="SCART">SCART</option>
                    <option value="Anden">Anden</option>
                </select>
            </label>
            <label>
                <div>Input3:</div>
                <select type="text" name="input3">
                    <option value="Phono">Phono</option>
                    <option value="VGA">VGA</option>
                    <option value="DvI">DvI</option>
                    <option value="HDMI">HDMI</option>
                    <option value="Component">Component</option>
                    <option value="SCART">SCART</option>
                    <option value="Anden">Anden</option>
                </select>
            </label>
            <label>
                <div>Beskrivelse af TV/skærm(ikke obligatorisk):</div>
                <textarea name="description">{{description}}</textarea>
            </label>
            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
    </div>
{% endblock %}