{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <span class="page_heading">
            <h1>Her kan du oprette dit grej.</h1>
        </span>
    </div>
    <div class="row">
            <p align="center">Vælg venligst hvilken type af grej eller teknik du vil oprette:</p>
    </div>
    <div class="row">
        <a href="/mypage/newlamp">
            <div class="thirtypercent">
                LAMPE
            </div>
        </a>
        <a href="/mypage/newcable">
            <div class="thirtypercent">
                KABLER
            </div>
        </a>
        <a href="/mypage/newdamper">
            <div class="thirtypercent">
                DÆMPER
            </div>
        </a>
    </div>
    <div class="row">
        <a href="/mypage/newlightmixer">
            <div class="thirtypercent">
                LYSMIXER
            </div>
        </a>
        <a href="/mypage/newsoundmixer">
            <div class="thirtypercent">
                LYDMIXER
            </div>
        </a>
        <a href="/mypage/newspeaker">
            <div class="thirtypercent">
                HØJTALERE
            </div>
        </a>
    </div>
    <div class="row">
        <a href="/mypage/newphotocamera">
            <div class="thirtypercent">
                FOTOKAMERA
            </div>
        </a>
        <a href="/mypage/newvideocamera">
            <div class="thirtypercent">
                VIDEOKAMERA
            </div>
        </a>
        <a href="/mypage/newscenography">
            <div class="thirtypercent">
                SCENOGRAFI
            </div>
        </a>
    </div>
    <div class="row">
        <a href="/mypage/newprojector">
            <div class="thirtypercent">
            PROJEKTOR
            </div>
        </a>
        <a href="/mypage/newtv">
            <div class="thirtypercent">
            TV / SKÆRM
            </div>
        </a>
        <a href="/mypage/newcostume">
            <div class="thirtypercent">
                KOSTUMER
            </div>
        </a>
    </div>
{% endblock %}
