{% extends "base.html" %}

{% block content %}
    <div class="newpost">
        <form method="post">
            <label>
                <div>Videokameraets mærke:</div>
                <input type="text" name="brand" value="{{brand}}">
            </label>
            <label>
                <div>Videokameraets model:</div>
                <input type="text" name="model" value="{{model}}">
            </label>
            <label>
                <div>Videokameraets opløsning:</div>
                <select type="text" name="resolution">
                    <option value="720p">720p</option>
                    <option value="1080p">1080p</option>
                    <option value="2K">2K</option>
                    <option value="4K">4K</option>
                    <option value="anden">anden</option>
                </select>
            </label>
            <label>
                <div>Beskrivelse af Videokameraet(ikke obligatorisk):</div>
                <textarea name="description">{{description}}</textarea>
            </label>
            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
    </div>
{% endblock %}