{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">
        <span class="page_heading">
            <h1>Her kan du søge efter ting.</h1>
        </span>
    </div>
    <div class="row">
            <p align="center">Vælg den type af ting du søger efter:</p>
    </div>
    <div class="row">
        <a href="/mypage/alllamps">
            <div class="thirtypercent">
                LAMPE
            </div>
        </a>
        <a href="/mypage/allcables">
            <div class="thirtypercent">
                KABLER
            </div>
        </a>
        <a href="/mypage/alldampers">
            <div class="thirtypercent">
                DÆMPER
            </div>
        </a>
    </div>
    <div class="row">
        <a href="/mypage/alllightmixers">
            <div class="thirtypercent">
                LYSMIXER
            </div>
        </a>
        <a href="/mypage/allsoundmixers">
            <div class="thirtypercent">
                LYDMIXER
            </div>
        </a>
        <a href="/mypage/allspeakers">
            <div class="thirtypercent">
                HØJTALERE
            </div>
        </a>
    </div>
    <div class="row">
        <a href="/mypage/allphotocameras">
            <div class="thirtypercent">
                FOTOKAMERA
            </div>
        </a>
        <a href="/mypage/allvideocameras">
            <div class="thirtypercent">
                VIDEOKAMERA
            </div>
        </a>
        <a href="/mypage/allscenography">
            <div class="thirtypercent">
                SCENOGRAFI
            </div>
        </a>
    </div>
    <div class="row">
        <a href="/mypage/allprojectors">
            <div class="thirtypercent">
                PROJEKTORER
            </div>
        </a>
        <a href="/mypage/alltvs">
            <div class="thirtypercent">
                TV / SKÆRME
            </div>
        </a>
        <a href="/mypage/allcostumes">
            <div class="thirtypercent">
                KOSTUMER
            </div>
        </a>
    </div>
{% endblock %}
